* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: system-ui;
}

.main {
	margin: 0 auto;
	width: 85%;
}
.navegação {

	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	padding: 20px 25px;
	align-items: center;
	display: flex;
	justify-content: space-between;
}
span {
	color: indianred;
}
.list {
	list-style: none;
}
.nav__item {

	display: inline-block;
}
.nav__link {

	color: #000;
	text-decoration: none;
	padding: 30px 30px;
}
.main__container {

	height: 83vh;
	align-items: center;
	flex-direction: row;
	display: flex;
	justify-content: center;
}
.photo img {
	height: 100%;
	width: 100%;
}
.container__content {
	gap: 13px;
	display: flex;
	flex-direction: column;
}
.title {
	font-size: 4rem;
}
.subtitle {
	width: 80%;
}
.button--primary {
	border-radius: 8px;
	color: white;
	font-size: 1rem;
	border: none;
	height: 50px;
	width: 150px;
	background-color: red;
}
.menu {
	display: none;
}
@media (max-width: 768px) {
	.main__container {
		gap: 20px;
			height: 100vh;
		flex-direction: column;
	}
	.container__content {

		text-align: center;
		justify-content: center;
		align-items: center;
	}
	.photo img {
		width: 130%;
	}
	.title {
		font-size: 2rem;
	}
	.nav__item {
		display: none;
	}
	#menu {
		display: flex;
		flex-direction: column;
		gap: 3px;
	}
	.i {
		width: 25px;
		height: 2px;
		background-color: black;
	}

}